/* Colors from Pull Up theme: https://color.adobe.com/es/pull-up-color-theme-8465975/ 
* purple: #664789
* dark-purple: #453073
* pink: #F33B85
* grey: #C3D4DB
* light-purple: #8C8CB0
*/
body {
	font-family: 'Arial';
	font-weight: 100;
	color: #664789;
}

.clock {
	position: relative;
	width: 360px;
	height: 360px;
	background-color: #C3D4DB;
	border-radius: 50%;
	overflow-x: hidden;
}

.container {
	box-sizing: border-box;
	display: flex;
	display: -webkit-flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	flex-direction: -webkit-column;
	align-items: center;
	align-items: -webkit-center;
	align-content: center;
	align-content: -webkit-center;
	justify-content: center;
	justificy-content: -webkit-center;
}

.btntop {
	box-sizing: border-box;
    text-align: center;
    color: #C3D4DB;
    background: none;
    background-color: #8C8CB0;
    text-transform: uppercase;
    border-radius: 50%;
    margin: 0;
    outline: 0;
    position: absolute;
    top: -100px;
    width: 100%;
    height: 200px;
    font-size: 32px;
    font-weight: bold;
    padding-top: 100px;
    border-top: 0;
    border-bottom: 1px solid #664789;
}

.btntop:hover {
	background-color: #664789;
}

.btnbottom {
	box-sizing: border-box;
	text-align: center;
	color: #C3D4DB;
	background: none;
	background-color: #8C8CB0;
	text-transform: uppercase;
	border-radius: 50%;
	margin: 0;
	outline: 0;
	position: absolute;
	width: 100%;
	font-size: 32px;
	font-weight: bold;
	padding: 20px;
	top: 260px;
	bottom: 0;
	border-top: 1px solid #664789;
	border-bottom: 0;
}

.btnbottom:hover {
	background-color: #664789;
}

.btnleft {
	box-sizing: border-box;
    text-align: right;
    color: #C3D4DB;
    background: none;
    background-color: #8C8CB0;
    text-transform: uppercase;
    border-radius: 50%;
    margin: 0;
    outline: 0;
    position: absolute;
    height: 100%;
    width: 200px;
    font-size: 32px;
    font-weight: bold;
    border-right: 1px solid #664789;
    right: 270px;
    padding-right: 40px;
}

.btnleft:hover {
	background-color: #664789;
}

.btnright {
	box-sizing: border-box;
    text-align: left;
    color: #C3D4DB;
    background: none;
    background-color: #8C8CB0;
    text-transform: uppercase;
    border-radius: 50%;
    margin: 0;
    outline: 0;
    position: absolute;
    height: 100%;
    width: 200px;
    font-size: 32px;
    font-weight: bold;
    border-left: 1px solid #664789;
    left: 270px;
    padding-left: 20px;
}

.btnright:hover {
	background-color: #664789;
}

.titletop {
	position: absolute;
	top: -100px;
	width: 100%;
	height: 200px;
	text-align: center;
	border-radius: 50%;
	border-bottom: 3px solid #664789;
	background-color: #8C8CB0;
	color: #C3D4DB;
}

.decrease {
	position: absolute;
    top: 130px;
    left: 70px;
}

.increase {
	position: absolute;
    top: 130px;
    left: 255px;
}

.titletop p {
	position: absolute;
    top: 130px;
    left: 80px;
    width: 200px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;	
}

.titletop table {
	position: absolute;
    top: 125px;
    left: 100px;
    width: 150px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;	
}

.txt {
	position: absolute;
	top: 100px;
	width: 100%;
	text-align: center;
}

.txt-no-title {
	position: absolute;
	top: 60px;
	width: 100%;
	text-align: center;
}

.txt-no-title-title {
	margin: 0 auto;
	width: 70%;
}

.txt-alone {
	margin: 0 auto;
	width: 95%;
}

.txt-msg {
	font-size: 28px;
	margin-bottom: 10px;
}

.txt-explain {
	margin-bottom: 10px;
}

.magnitude {
	float: left;
    padding-left: 95px;
}

.pullUpsCounter {
	font-size: 46px;
    font-weight: bold;
    width: 50%;
    text-align: center;	
    margin: 0 auto;
    margin-top: 10px;
}

.txt-msg-center {
	font-size: 32px;
    font-weight: bold;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.txt-center {
	font-size: 32px;
    font-weight: bold;
    width: 80%;
    text-align: center;
}

.txt-pause {
	position: absolute;
	top: 140px;
	left: 90px;
	font-size: 32px;
    font-weight: bold;
    width: 50%;
    text-align: center;
}

.txt-msg-bpm {
	font-size: 48px;
	font-weight: bold;
	padding-top: 20px;
}

.numberWithArrows {
	width: 100%;	
}

.numberWithArrows td {
	width: 100%;
}